body {
	min-width: 1000px;
	font: 13px/1.5 "Helvetica Neue", Arial, "Liberation Sans", FreeSans, sans-serif;
	background-image:url(/img/mbg.gif);
}

.localcontainer {
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
}

.localgrid {
	display: inline;
	float: left;
	margin-right: 10px;
	margin-left: 10px;
}